.vscode/
__pycache__/
.idea/
logs/
wandb/
prev_src/
prev_src2/

prev_models/
prev_models2/

models/
models82/

gym_fiar/
/src/ploting
*/efficient_mcts_*.py
efficient_evaluation.py

*.pth
*.log
*.out
*.model
*.zip
*.png
*.c
.DS_Store
src/.DS_Store