.vscode/
__pycache__/
.idea/
logs/
wandb/

# model files
models/

# prev files 
prev_src/
prev_models/


/src/ploting
*/elo.py
efficient_evaluation.py

*.pth
*.log
*.out
*.model
*.zip
*.png
*.csv
*.c
.DS_Store
src/.DS_Store